.work-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 80px;
    img{
        max-width: 764px;
        max-height: 413px;
    }
    &__text{
        color: white;
        width: 450px;
        margin: auto 0;
        h3{
            font-weight: 700;
            font-size: 36px;
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 70px;
        }
        a{
            color: #948716;
            span{
                margin: auto 14px;
            }
        }
        a:hover{
            color: white;
            cursor: pointer;
        }
    }
    .right{
        text-align: right;
    }
}

